.App {
  /* text-align: center; */
  margin: 50px;
}

.taskFormdata{
  padding: 20px;
}

#ModifyTaskDiv{
  background-color: cornflowerblue;
  width: fit-content;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
