.App {
  /* text-align: center; */
  margin: 50px;
}

.taskFormdata{
  padding: 20px;
}

#ModifyTaskDiv{
  background-color: rgb(198, 210, 231);
  width: fit-content;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  padding: 20px;
}

#taskresetbutton{
  display: none;
}

.tasks{
  padding: 5px;
}